* {
  margin: 0;
  padding: 0;
}

.logo
{
  visibility: hidden;
}
p {
  color: green;
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  margin-top: 60px;
  min-width: 200px;
  max-width: 800px;
  min-height: 200px;
  max-height: 300px;
}

#main {
  padding: 40px;
  height:1000px;
  overflow: scroll;
}

h1{

  font-family: Georgia;
  text-align: center;
  border : 1px dotted red;
  margin: 30px 20px;
  
}

.title{
  color: teal;
}

.uppercase{
  text-transform: uppercase;
}

#article-title{
  font-family: cursive;
}

a[href*='BwE'] {
  color: lightgreen;
}

a:hover{
  color: darkorange;
  }

.heading-background{
    background-color: aqua;
  }

#publish-time
{
  color: gray;
}

h5 {
  color: yellow ;
}

.author-class {
  color: pink;
}

#author-id {
  color: cornflowerblue;
}

h4.headline{
  font-family: Tahoma;
}

.description h5{
  color: blueviolet ;
}

li h4{
  color: gold;
}

h4, li{
  font-family: monospace;
}

.image {
  background-image: url("https://i.pinimg.com/736x/a3/4a/3a/a34a3a1ff5f03e76a3e83503e627e3ae.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
}

.caption {
  display: block;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
  top: 80%;
  width: 60%;
  background-color: white;
  color:black;
  opacity:0.75;
}

.header 
{
  background-color: cornflowerblue;
  text-align: center;
}
.header-Image
{
  background-size: cover;
  background-position: center;
  height: 300px;
}

.about-me
{
  color: black;
  font-size: 20px;
  opacity: 50%;
}

.title{
  font-weight: bold;
}

.my-title{
  color: azure !important;
}

body
{
 font-family: Georgia;
 background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png'
);
}

.pull-quote{
  width: 350px;
  margin:0 auto;
}

.caption 
{
  border: 3px solid white;
  border-radius: 15px;
}

.navigation li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px;
}

.share a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  text-decoration: none;
 padding: 20px 30px;
 margin:10px;

}